* {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #1b2034;
  color: #fff;
}

.qr-img {
  display: block;
  max-width: 50%;
  max-height: 480px;
  margin: 2rem auto;
}

.app {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 320px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

button,
a {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;

  margin: 2rem auto;
  color: #2bcb4b;
  font-size: 1.5rem;
  text-decoration: none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
